
body{
    background-color: #616161;
}
.calculator{
    width: 350px;
    height: 500px;
    margin: 50px auto;
    background-color: grey;

    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);

    border-radius: 5px;
}

.results{
    border-radius: 5px 5px 0px 0px ;
    background: #242424;
    color: ghostwhite;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;

    text-align: right;
    font-size: 2em;
    padding-top: 100px;
    padding-right: 11px;
}

.btn{
    background-color: #E6E6E6;
    color: black;
    text-align: center;
    padding: 20px;
    border: 1px solid #8C8C8C;
    font-size: 1.5em;

    user-select: none;
    cursor: pointer;
}
.btn:active{
    background-color: #C7C7C7;
}

.orange{
    background-color: #e68600 ;
    color: white;
}
.orange:active{
    background-color: #b36800 ;
    
}
.grey{
    background-color: #BBBBBB;
}

#zero{
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 0 0 0 5px;
}

#decimal{
    font-size: 1.8em;
}

#equals{
    border-radius: 0 0 5px 0;
}